html, body {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
	background-color: #cac3bb;
  }
  
  nav{
	display: flex;
	justify-content: space-around;
	align-items:center;
	min-height: 1vh;
	background-color: rgb(95,82,74);
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
  }
  
  .logo{
	font-size: 15px;
  	color: white;
  	text-transform: uppercase;
	letter-spacing: 5px;
	width: fit-content;
}

  
  .menu{
	display:flex;
	justify-content:space-around;
	width: 60%;
  }
  
  .menu li{
	list-style:none;
  }
  
  .menu a{
	font-size: 15px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px
  
  }
  
  .iniTable {
	color:black;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
	width: 60%;
	margin:auto;
	border: 50px;
	text-align: left;
	text-decoration: none;
  }

.resultTable {
	color:black;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
	width: 60%;
	margin:auto;
	border: 50px;
	text-align: left;
	text-decoration: none;
}


